<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reactive Voice Channel View</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <h1 class="text-center text-primary">Reactive Voice Channel View</h1>
    <button class="btn btn-success" id="joinButton">Call bot to Channel</button>
    <button class="btn btn-danger" id="leaveButton">Disconect Bot</button>
    <!--h3> Server: <span id="serverName"> </span></h3!-->
    <label for="channelSelect">Select a Voice Channel:</label>
    <select id="channelSelect">
        <option value="">-- Select a Voice Channel --</option>
    </select>
    <label for="colorPicker">Select Background Color:</label>
    <input type="color" id="colorPicker" value="#ff004c">
    <ul class="user-list" id="userList">
        <!-- User list will be populated here -->
    </ul>
    <div id="AvatarView"> </div>
    
</body>
</html>